$button-passive-color: rgb(255, 64, 0);
$button-hover-color: rgb(191, 48, 0);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: white;
}

body {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#content {
    margin: 0 auto;
    background-color: white;
    height: fit-content;
    box-shadow: 1px 0 1px rgb(176, 175, 175), -1px 0 1px rgb(176, 175, 175);

    width: 1200px;
}

button {
    border: 1px solid;
    border-color: $button-passive-color;
    background-color: white;
    color: $button-passive-color;
}


header {
    height: 227px;
}

section,
footer {
    margin-top: 38px;
}


#top {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 100px 6fr 2fr 5.5rem 100px;
}

header #top input {
    height: 38px;
    margin-right: 21px;
    grid-column: 3;
    font-size: 0.9rem;
}


header>button,
footer>button {
    font-size: 1.25rem;
    width: 170px;
    margin-right: 100px;
    height: 3rem;
    float: right;
    position: relative;
    top: -15px;
    font-weight: bold;
}


button:hover {
    background-color: $button-passive-color;
    color: white;
}

#top button {
    height: 38px;
    grid-column: 4;
    font-size: 0.9rem;
}

#logo {
    content: url("../images/logo.png");
    width: 286px;
    height: 35px;
    position: relative;
    grid-column: 2;
}

#logo:hover {
    content: url("../images/logo_hover.png");
}

nav {
    margin-top: 77px;
}

nav li {
    list-style: none;
    float: left;
    margin-left: 100px;
    font-weight: bold;
}

nav a {
    font-size: 20px;
    color: rgb(255, 64, 0);
    text-decoration: none;
}

.line {
    width: 500px;
    margin-left: 347px;
    border-top: 2px solid black;
}

h1 {
    text-align: center;
    text-indent: -55px;
    font-size: 40px;
    font-weight: bold;
}

.filter label {
    color: gray;
    font-size: 1.1rem;
    margin-left: 5px;
}

.filter label:hover {
    color: black;
}

.filter {
    margin-top: 44px;
    display: flex;
    justify-content: start;
    column-gap: 15px;
    margin-left: 100px;
    align-items: center;
}

input[type='checkbox'] {
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
}

.vertical_line {
    border-left: dotted gray;
    height: 37px;
}

select {
    height: 30px;
    width: 93px;
    font-size: 0.9rem;
}

select:nth-of-type(1) {
    width: 73px;
}

.teach_list {
    position: relative;
    margin-top: 65px;
    margin-left: 100px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 57px;
    margin-bottom: 50px;
}


.teach_list .for_zoom {
    box-sizing: content-box;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 4px solid rgb(241, 88, 11);
    overflow: hidden;
}

.teach_list img {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: rgb(241, 88, 11);
    display: flex;
    font-size: 33px;
    font-weight: bold;

}

.teach_list img:not([src]) {
    text-align: center;
    text-indent: -7px;
    padding-top: 35%;
    z-index: 0;
    position: relative;
}

.teach_list li .fav {
    border: none;
    border-width: 0 px;
    border-radius: 0% 0% 0% 0%;
    width: 22%;
    height: 10%;
    position: relative;
    left: 124px;
    bottom: 87%;
}

.teach_list img:not([src])::before {
    content: '*';
    background: white;
    z-index: 1;
    position: absolute;
    top: 30%;
    width: 40px;
    left: -3%;
    color: white;
}

.teach_list li {

    h1 {
        margin-top: 33px;
        font-weight: bold;
        text-align: center;
        text-indent: 0;
        font-size: 1.5rem;
    }

    h2 {
        margin-top: 10px;
        text-align: center;
        font-size: 1.1rem;
        font-weight: normal;
        color: gray;
    }

    h3 {
        margin-top: 8px;
        text-align: center;
        font-size: 0.7rem;
        font-weight: normal;
        padding: 0;
    }

}

.teach_list img:hover {
    transform: scale(1.15);
}

.teach_list .for_zoom:hover {
    border: 4px solid rgb(122, 1, 1);
}

.statistics {
    margin-top: 40px;
    margin-left: 100px;
    border-collapse: collapse;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    width: 1000px;

    th {
        width: 20%;
        font-size: 20px;
        font-weight: normal;
        background-color: white;
        border-bottom: black 1px solid;
    }

    th:nth-of-type(1) {
        text-align: left;
        padding-left: 15px;
    }

    tr {
        height: 35px;

        td:nth-of-type(1) {
            text-align: left;
            padding-left: 9px;
        }
    }

    tr:nth-child(odd) {
        background-color: rgba(236, 233, 234, 0.989);
    }

}

.statistics th:hover {
    border-bottom: black 4px solid;
    background-color: #fafafa;
}

.statistics th:hover::after {
    content: url("../images/down_arrow.png");
}

.pages_link {
    margin-top: 2%;
    margin-left: 110px;
    display: flex;
    gap: 2%;
    margin-bottom: 19px;

    a {
        color: rgb(50, 161, 183);
        text-decoration: none;
    }
}

nav a:hover {
    color: $button-hover-color;
}

.pages_link a:nth-child(1) {
    color: black;
}

.left_arrow {
    content: url("../images/left_arrow_norm.png");
    position: relative;
    float: left;
    top: 170px;
    left: 10px;
    width: 30px;
    height: 85px;
}

.right_arrow {
    content: url("../images/right_arrow_norm.png");
    position: relative;
    float: right;
    top: -190px;
    width: 30px;
    height: 85px;
    right: 10px;
}

.left_arrow:hover {
    content: url("../images/left_arrow_hover.png");
    top: 165px;
    position: relative;
    left: 7px;
}

.right_arrow:hover {
    content: url("../images/right_arrow_hover.png");
    top: -195px;
    position: relative;
    right: 7px;
}

p {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

footer {
    height: 280px;
}

.pop_up {
    visibility: hidden;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 1px 0 2px rgb(176, 175, 175), -1px 0 1px rgb(176, 175, 175);
}


#teach_info {
    width: 951px;
    height: 559px;
    header {
        background-color: rgb(87, 83, 83);
        display: grid;
        height: 65px;
        grid-template-columns: 300px 10px;
        gap: 610px;
    }

    main {
        margin-left: 20px;
        margin-top: 20px;
        height: 320px;
    }

    header img {
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }

    img {
        width: 319px;
        height: 319px;
        float: left;
        display: block;
        margin-right: 100px;
    }

    section {
        margin-left: 50px;
        height: fit-content;
    }
    
    h1 {
        font-weight: normal;
        text-align: left;
        font-size: 2rem;
    }

    h2 {
        margin-top: 30px;
        font-weight: bold;
        text-align: left;
        text-indent: -53px;
        font-size: 1.3rem;
        margin-bottom: 18px;
    }

    h3 {
        font-weight: normal;
        text-align: left;
        text-indent: -53px;
        margin-bottom: 10px;
    }

    h3:nth-of-type(3) {
        color: rgb(2, 169, 253);
    }

    footer {
        margin-top: 10px;
        margin-left: 20px;
        height: auto;
        h3 {
            margin-top: 20px;
            font-weight: normal;
            text-align: left;
            margin-bottom: 10px;
            text-indent: 0;
            color: rgb(2, 169, 253);
            border-bottom: 1px dotted;
            display: inline-block;
        }
    }
}

.pop_up header {
    p {
        font-size: 30px;
        color: white;
        margin-left: 14px;
        margin-top: 10px;
        width: 200px;
    }

    img {
        margin-top: 10px;
        float: none;
        width: 35px;
        height: 35px;
    }

    img:hover {
        cursor: pointer;
    }
}

#add_teacher_pop_up {
    width: 570px;
    height: 893px;

    header {
        background-color: rgb(87, 83, 83);
        display: grid;
        height: 65px;
        grid-template-columns: 180px 10px;
        gap: 330px;
    }

    main {
        margin: 35px 35px 35px 35px;
        font-size: 1.1rem;
        label {
            color: gray;
            margin-bottom: 5px;
            display: block;
        }

        input,
        select {
            text-indent: 10px;
            font-size: 1rem;
            margin-bottom: 20px;
            width: 227px;
            height: 37px;
            display: block;
        }

        input::placeholder {
            color: rgb(162, 160, 160);
        }

        input:nth-of-type(1),
        select:nth-of-type(1) {
            width: 100%;
            display: block;
        }

        .grid1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 22px;
        }

        label[for="sex"],
        label[for="maleopt"],
        label[for="femaleopt"] {
            display: inline;
        }

        label[for="maleopt"] {
            margin-left: 30px;
        }

        label[for="maleopt"],
        label[for="femaleopt"] {
            color: black;
        }

        input[type="radio"] {
            display: inline;
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 3px;
            margin-right: 3px;
        }

        .grid2 {
            display: grid;
            grid-template-columns: 138px 138px;
            column-gap: 15px;
            input[type="color"] {
                height: 27px;
                width: 50px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 3px;
                padding-right: 3px;
                display: inline;
            }
            img {
                display: inline;
            }
        }
        textarea {
            display: block;
            width: 100%;
            height: 145px;
            font-size: 1rem;
        }
        button {
            width: 100%;
            height: 70px;
            font-size:2rem;
            font-weight: bold;
        }
    }
}


@media (max-width: 1240px) and (min-width: 1048px) {
    #content {
     transform: scale(0.7); 
      position:absolute;
      left:-3%;
      transform-origin:top center;
    }

    #add_teacher_pop_up {
        transform: scale(0.8);
    }

    #teach_info {
        transform: scale(0.8);
        margin: 0;
        margin-left: 100px;
    }
  }
  
  @media (max-width: 1047px) and (min-width: 920px) {
   #content {
     transform: scale(0.5); 
      position:absolute;
      left:-10%;
      transform-origin:top center;
    }

    #add_teacher_pop_up {
        transform: scale(0.7);
    }

    #teach_info {
        transform: scale(0.5);
        margin: 0;
        margin-left: 40px;
    }
  }
  
  @media (min-width: 840px) and (max-width: 919px) {
    #content {
     transform: scale(0.45); 
       position:absolute;
      left:-15%;
      transform-origin:top center;
    }

    #add_teacher_pop_up {
        transform: scale(0.65);
    }

    #teach_info {
        transform: scale(0.5);
        margin: 0;
        margin-left: 2px;
    }
  }
  
  
  @media (max-width: 839px) and (min-width: 768px) {
    #content {
      transform: scale(0.4); 
      position:absolute;
      left:-25%;
      transform-origin:top center;
    }

    #add_teacher_pop_up {
        transform: scale(0.6);
    }

    #teach_info {
        transform: scale(0.4);
        margin: 0;
        margin-left: -80px;
    }
  }

  @media (max-width: 767px) and (min-width: 640px) {
    #content {
      transform: scale(0.35);
      position: absolute;
      transform-origin: top center;
      left: calc(-30%);
    }
  
    #add_teacher_pop_up {
      transform: scale(0.55);
      transform-origin: top center;
    }
  
    #teach_info {
      transform: scale(0.35);
      margin: 0;
      margin-left: -100px;
    }
  
    .teach_list {
      grid-template-columns: repeat(1, 600px);
      gap: 100px;
    }
  
    .teach_list li {
      margin-left: 60px;
      text-align: center;
    }
  
    #favorities li {
      display: none;
    }
  
    #favorities li:nth-of-type(1) {
      display: block;
    }
  
    .teach_list .for_zoom {
      box-sizing: content-box;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      border: 4px solid #f1580b;
      overflow: hidden;
      margin-left: 190px;
    }
  
    .teach_list li h1 {
      font-size: 40px;
      margin-left: 350px;
    }
  
    .teach_list li h2 {
      font-size: 45px;
      margin-left: 350px;
    }
  
    .teach_list li h3 {
      font-size: 30px;
      margin-left: 350px;
    }
  
    .teach_list img {
      font-size: 100px;
    }
  
    .teach_list li .fav {
      border: none;
      border-width: 0 px;
      border-radius: 0% 0% 0% 0%;
      width: 20%;
      height: 10%;
      position: relative;
      left: 550px;
      bottom: 87%;
    }
  
    .right_arrow {
      content: url(../images/right_arrow_norm.png);
      position: relative;
      float: right;
      top: -625px;
      width: 30px;
      height: 85px;
      right: 10px;
    }
  
    .right_arrow:hover {
      content: url("../images/right_arrow_hover.png");
      top: -635px;
      position: relative;
      right: 7px;
    }
  }
  
  @media (max-width: 639px) {
    #content {
      transform: scale(0.3);
      position: absolute;
      transform-origin: top center;
      left: calc(-40%);
    }
  
    #add_teacher_pop_up {
      transform: scale(0.4);
    }
  
    #teach_info {
      transform: scale(0.3);
      margin: 0;
      margin-left: -140px;
    }
  
    .teach_list {
      grid-template-columns: repeat(1, 600px);
      gap: 100px;
    }
  
    .teach_list li {
      margin-left: 250px;
      text-align: center;
    }
  
    #favorities li {
      display: none;
    }
  
    #favorities li:nth-of-type(1) {
      display: block;
    }
  
    .right_arrow {
      content: url(../images/right_arrow_norm.png);
      position: relative;
      float: right;
      top: -625px;
      width: 30px;
      height: 85px;
      right: 10px;
    }
  
    .right_arrow:hover {
      content: url("../images/right_arrow_hover.png");
      top: -635px;
      position: relative;
      right: 7px;
    }
  
    .teach_list .for_zoom {
      box-sizing: content-box;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      border: 4px solid #f1580b;
      overflow: hidden;
    }
  
    .teach_list img {
      font-size: 100px;
    }
  
    .teach_list li h1 {
      font-size: 40px;
      margin-left: 150px;
    }
  
    .teach_list li h2 {
      font-size: 45px;
      margin-left: 150px;
    }
  
    .teach_list li h3 {
      font-size: 30px;
      margin-left: 150px;
    }
  
    .teach_list li .fav {
      border: none;
      border-width: 0 px;
      border-radius: 0% 0% 0% 0%;
      width: 20%;
      height: 10%;
      position: relative;
      left: 400px;
      bottom: 87%;
    }
  }
  